<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.acjs.cricdecode"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="com.surv.ui123.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="co.ajs.cricdecode.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:name="co.acjs.cricdecode.BugReport"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="co.acjs.cricdecode.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="co.acjs.cricdecode.DisplayPieChart" >
        </activity>
        <activity android:name="co.acjs.cricdecode.DisplayLineChart" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />

        <provider
            android:name="co.acjs.cricdecode.CricDeCodeContentProvider"
            android:authorities="co.acjs.cricdecode.contentprovider"
            android:exported="true"
            android:readPermission="true"
            android:writePermission="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <service android:name="co.acjs.cricdecode.SignInService" />
        <service android:name="co.acjs.cricdecode.GCMIntentService" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="co.acjs.cricdecode.LogIn"
            android:label="@string/title_activity_log_in" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>